*{
    font-family: 'Open Sans', sans-serif;
}
section{
    margin-top: 130px;
}

/* Nav style */
.header{
    background: #FFF8F3;
    background-image: url(../portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    
}
nav{
    /* display: flex; */
    justify-content: right;
    margin: 30px 40px 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
}
.btn-primary{
    /* outer portion */
    height: 50px;
    border-radius: 5px;
    background: #FD6E0A;
    /* inner portion */
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0;
    padding: 10px 35px;
    /* margin-bottom: 20px; */

}
/* banner style */
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner-title{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 5px;
}
.banner-subtitle{
    margin-bottom: 2px;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    text-align: justify;
}
/* main style */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
/* about section style */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.about-description{
    text-align: justify;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    gap: 24px;
}

.info-title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.infor-description{
    color: #474747 ;
    font-size: 20px;
    font-weight: 700;

}

/* skills section */
.section-title{
    margin-top: 130px;
    border-radius: 10px;
    /* padding: 130px 150px; */
    text-align: center;
}
.skill-container{
    display: flex;
    justify-content: space-around;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.skill-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

/* My resume summary */
.resume-container{
    display: flex;
}